attrs==17.4.0
coverage==4.5.1
cycler==0.10.0
hexdump==3.3
kiwisolver==1.0.1
matplotlib==3.0.2
numpy==1.15.4
pluggy==0.6.0
py==1.5.3
pyparsing==2.2.0
pytest==3.4.2
pytest-cov==2.5.1
python-dateutil==2.7.2
python-evtx==0.6.1
pytz==2018.4
six==1.11.0
untangle==1.1.1
